html,
body {
    background: #1814A0;
    overflow: hidden;
    -webkit-app-region: drag;
}

#main {
    background: #1DCCEB;
    height: 700px;
}

#main h1 {
    color: #fff;
    padding-top: 8px;
    text-align: left;
}

#main p {
    color: #fff;
    text-align: left;
}

.settings,
.close {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    text-indent: -10000px;
    top: 6px;
    width: 32px;
    z-index: 1;

    -webkit-app-region: no-drag;
}

.settings {
    background: transparent url('../img/settings.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 38px;
}

.close {
    background: transparent url('../img/close.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 6px;
}

.loader {
  height: 64px;
  left:50%;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  top: 50%;
  width: 64px;
}

.align_right {
    float: right
}